<div class="alert alert-warning" role="alert">

<p>
Exercise:<span class="label label-danger">  <%= exercise.name %></span>
</p>
<p>


<button class="btn btn-primary" type="button">
  Sets <span class="badge"><%= exercise.sets %></span>
</button>
</p>
<p>
  <button class="btn btn-primary" type="button">
  Reps <span class="badge"><%= exercise.reps %> </span>
  </button>
</p>
</div>
